# twitter application settings
# API keys, Tokens, App details

[APIKEY]
MY_CONSUMER_KEY = T05OG9lJW50yzMqlFrWuDVAVe
MY_CONSUMER_SECRET = b2c9syqWBFJrj0WP5pOIuDytYYAQIM3xbkBBzFtpIEAMsadev4

[TOKEN]
MY_ACCESS_TOKEN_KEY = 3888235159-VX83Sm3Va6TJrLUQCfxY6fl8Kc0AVlPK3MOonIA
MY_ACCESS_TOKEN_SECRET = hbGdN2P3n1iaNjktHbZ3xE4s80dHv0ypJK25cQaOVszNL

[APP]
RULE = @valdr_ebooks
SCREEN_NAME = valdr_ebooks
USER_ID = valdr_ebooks